.logo {
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 260px;
  right: 0;
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  z-index: 1;
}

.dropdown-content .logo-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  display: block;
}
.dropdown-content h4 {
  font-size: 23px;
  text-align: center;
}
.detelis {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.profile-icon {
  margin: 3px 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.3s;
}
