* {
  margin: 0;
  padding: 0;
}
.sidebar {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 180px;
  height: 100vh;
  background: rgb(245, 174, 224);
  float: left;
  transition: all 0.5s;
}
.sidebar-close {
  transform: translateX(-100%);
}
.sidebar .active {
  font-size: 30px;
  color: rgb(250, 250, 250);
  background: #e31fc5;
}
.content {
  background: #f5f1f4;
  width: 91%;
  height: 100vh;
  float: right;
}
.content-close {
  width: 100%;
  float: none;
  transition: 0.5s;
}
